includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    paths:
        - src

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    strictRules:
        noVariableVariables: false